body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  background-color: black;
  color: #0f0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 20vh;
  color: #0f0;
}

input, button {
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 1em;
  background: #111;
  color: #0f0;
  border-bottom: 2px solid #0f0;
}
